*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: blue;
}
.items{
    margin-bottom: 20px;
    display: inline-block;
    width: 150px;
    text-align: center;
}
input{
    margin: 5px;
    padding: 2px;
    display: block;
}

form {
  width: 300px;
  margin: 0 auto;     /* Centra horizontalmente */
  padding: 20px;
  border: 1px solid #ccc;
  background-color:#6DEE76;
}
.inputs{
    margin:0 auto;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: none;
    width: 80%;
    height: 30px;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    justify-content: center;
}

tr{
    text-align: center;
    height: 30px;
}

#sections{
  min-height: 900px;
}

a{
    text-decoration: none;
    color: black;
}
#tituloPersona,#tituloAnimal{
    margin: 40px auto;
    text-align: center;
}

